*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

*p{
    text-align: justify;
}

.left{
    margin-top: 25px;
    
}

.right{
    margin-top: 13px;
    
}

.img-top{
    display: flex;
    justify-content: space-evenly;
    flex: 3;
}

.imgt{
    width: 250px;
}

.img-bottom{
    display: flex;
    justify-content: space-evenly;
    flex: 3;
}

.imgb{
    width: 250px;
}